.Track {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rank {
  padding-right: 1rem;
  align-self: flex-start;
}
.info {
  min-width: 400px;
}

.track-name {
  font-size: 2.5rem;
}

.track-artist {
  font-size: 2rem;
}

.track-listeners-label {
  font-size: 1rem;
}

.track-listeners {
  font-size: 1.5rem;
}
