.Track {
  max-width: 70%;
  margin: 0 15% .5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /*background-color: #040808;*/
  /*background-color: #091010;*/
  background-color: #1e1e1e;
  border-right: red solid;
}

.rank {
  padding: 0 1rem;
  align-self: flex-start;
}

.info {
  flex-grow: 1;
  padding-left: 1rem;
}

.track-name {
  font-size: 2.5rem;
}

.track-artist {
  font-size: 2rem;
}

.listenerInfo {
  padding-right: 1rem;
}

.track-listeners-label {
  font-size: 1rem;
}

.track-listeners {
  font-size: 1.5rem;
}
